<template>
  <div>
    <p class="text-center mt-4">จัดการประกาศรับสมัครงาน</p>
    <b-button
      variant="success"
      class="float-right mb-2 mt-2"
      router-link
      to="/form"
      >เพิ่มประกาศรับสมัคร</b-button
    >
    <b-table striped hover :items="AnmsList" :fields="fields">
      <template v-slot:cell(operations)="data"
        ><b-button @click="editAnm(data.item)" router-link to="/form"
          >Edit</b-button
        >
        &nbsp;
        <b-button variant="danger" @click="delAnm(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import userService from './UserService'
export default {
  data () {
    return {
      AnmsList: [],
      fields: [
        'No.',
        'name',
        'position',
        'cityAddress',
        'salary',
        'amount',
        'dateClose',
        'status',
        'operations'
      ]
    }
  },
  methods: {
    addNewAnm () {
      console.log('addNew')
      this.title = 'กรุณาเพิ่มผู้ใช้งาน'
      // this.$bvModal.show('modal-form-anm')
    },
    editAnm (anm) {
      this.title = 'แก้ไขผู้ใช้งาน'
      console.log('edit')
      console.log(anm)
      // this.$bvModal.show('modal-form-anm')
      this.getAnm(anm)
    },
    delAnm (anm) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + anm.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // userService.deleteUser(user)
            axios
              .delete('http://localhost:3000/anms/' + anm._id)
              .then(res => {
                console.log(res)
                this.getAnms()
              })
              .catch(err => {
                console.log(err)
              })
            this.getAnms()
          }
        })
    },
    getAnms () {
      // this.userList = userService.getAnms()
      axios
        .get('http://localhost:3000/anms/')
        .then(res => {
          // console.log(res)
          console.log(res.data.anms)
          this.AnmsList = res.data.anms
        })
        .catch(err => {
          console.log(err)
        })
    },
    getAnm (anm) {
      // this.userList = userService.getAnms()
      axios
        .get('http://localhost:3000/anms/' + anm._id)
        .then(res => {
          // console.log(res)
          console.log(res.data.anm)
        })
        .catch(err => {
          console.log(err)
        })
    }
    // ,getAnm (anm) {
    //   // this.userList = userService.getAnms()
    //   axios
    //     .get('http://localhost:3000/anms/' + this.anm.id)
    //     .then(res => {
    //       console.log(res)
    //       this.AnmsList = res.data
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // }
  },
  computed: {},
  mounted () {
    this.getAnms()
  }
}
</script>
