<template>
  <div>
    <p class="text-center mt-4">จัดการประกาศรับสมัครงาน</p>
    <b-button
      variant="success"
      class="float-right mb-2 mt-2"
      @click="addNewUser"
      >เพิ่มประกาศรับสมัคร</b-button
    >
    <b-modal
      id="modal-form-anm"
      ref="modal-form-anm"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อประกาศ:"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="สายอาชีพ:"
          label-for="career"
          :invalid-feedback="invalidFeedbackCareer"
          :valid-feedback="validFeedbackCareer"
          :state="stateCareer"
        >
          <b-form-select
            id="career"
            v-model="form.career"
            :options="careerOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="ตำแหน่งงาน:"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          :valid-feedback="validFeedbackPosition"
          :state="statePosition"
        >
          <b-form-select
            id="position"
            v-model="form.position"
            :options="positionOption"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="จังหวัดสาขา:"
          label-for="cityAddress"
          :invalid-feedback="invalidFeedbackCityAddress"
          :valid-feedback="validFeedbackCityAddress"
          :state="stateCityAddress"
        >
          <b-form-select
            id="cityAddress"
            v-model="form.cityAddress"
            :options="cAddressOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="สถานปฏิบัติงาน:"
          label-for="companyAddress"
          :invalid-feedback="invalidFeedbackCompanyAddress"
          :valid-feedback="validFeedbackCompanyAddress"
          :state="stateCompanyAddress"
        >
          <b-form-input
            id="companyAddress"
            v-model="form.companyAddress"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="เงินเดือน:"
          label-for="salary"
          :invalid-feedback="invalidFeedbackSalary"
          :valid-feedback="validFeedbackSalary"
          :state="stateSalary"
        >
          <b-form-input
            type="number"
            id="salary"
            v-model="form.salary"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="รายละเอียด:"
          label-for="description"
          :invalid-feedback="invalidFeedbackDescription"
          :valid-feedback="validFeedbackDescription"
          :state="stateDescription"
        >
          <b-form-textarea
            type="text"
            id="description"
            v-model="form.description"
            required
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
          label="สวัสดิการ:"
          label-for="benefit"
          :invalid-feedback="invalidFeedbackBenefit"
          :valid-feedback="validFeedbackBenefit"
          :state="stateBenefit"
        >
          <b-form-textarea
            type="text"
            id="benefit"
            v-model="form.benefit"
            required
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
          label="เพศ:"
          label-for="gender"
          v-slot="{ ariaDescribedby }"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-radio-group
            v-model="form.gender"
            :options="genderOption"
            :aria-describedby="ariaDescribedby"
            name="radio-inline"
          ></b-form-radio-group>
        </b-form-group>

        <b-form-group
          label="อายุ:"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          :valid-feedback="validFeedbackAge"
          :state="stateAge"
        >
          <b-form-input
            type="number"
            id="age"
            v-model="form.age"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="ระดับการศึกษา:"
          label-for="educate"
          :invalid-feedback="invalidFeedbackEducate"
          :valid-feedback="validFeedbackEducate"
          :state="stateEducate"
        >
          <b-form-select
            id="educate"
            v-model="form.educate"
            :options="educateOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="ประการณ์การทำงาน :"
          label-for="yearExperience"
          :invalid-feedback="invalidFeedbackExperience"
          :valid-feedback="validFeedbackExperience"
          :state="stateExperience"
        >
          <b-form-input
            type="number"
            id="yearExperience"
            v-model="form.yearExperience"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="รับนักศึกษาจบใหม่:"
          label-for="newGraduates"
          v-slot="{ ariaDescribedby2 }"
          :invalid-feedback="invalidFeedbackNewGraduates"
          :valid-feedback="validFeedbackNewGraduates"
          :state="stateNewGraduates"
        >
          <b-form-radio-group
            v-model="form.newGraduates"
            :options="newGraduatesOption"
            :aria-describedby="ariaDescribedby2"
            name="radio-inline"
          ></b-form-radio-group>
        </b-form-group>

        <b-form-group
          label="คุณสมบัติ:"
          label-for="properties"
          :invalid-feedback="invalidFeedbackProperties"
          :valid-feedback="validFeedbackProperties"
          :state="stateProperties"
        >
          <b-form-textarea
            type="text"
            id="properties"
            v-model="form.properties"
            required
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
          class="mb-3"
          label="วันที่เปิดประกาศ:"
          label-for="dateOpen"
        >
          <b-form-input
            id="dateOpen"
            v-model="form.dateOpen"
            type="text"
            placeholder="YYYY-MM-DD"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          class="mb-3"
          label="วันที่ปิดประกาศ:"
          label-for="dateClose"
        >
          <b-form-input
            id="dateClose"
            v-model="form.dateClose"
            type="text"
            placeholder="YYYY-MM-DD"
            autocomplete="off"
          ></b-form-input>
          <b-form-datepicker
            v-model="form.dateClose"
            button-only
            right
            locale="en-US"
            aria-controls="example-input"
          ></b-form-datepicker>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="AnmsList" :fields="fields">
      <template v-slot:cell(operations)="data"
        ><b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)"
          >Delete</b-button
        ></template
      ></b-table
    >
  </div>
</template>

<script>
import anounmentService from './AnounmentService'
export default {
  data () {
    return {
      form: {
        id: -1,
        name: '',
        career: null,
        position: null,
        amount: 0,
        cityAddress: null,
        companyAddress: '',
        salary: 0,
        description: '',
        gender: 'All gender',
        age: 0,
        educate: null,
        yearExperience: 0,
        newGraduates: true,
        properties: '',
        dateOpen: this.getTime(),
        dateClose: ''
      },
      title: '',
      newGraduatesOption: [
        { value: true, text: 'รับ' },
        { value: false, text: 'ไม่รับ' }
      ],
      genderOption: [
        { value: 'All gender', text: 'ทั้งสองเพศ' },
        { value: 'Male', text: 'ผู้ชาย' },
        { value: 'Femlae', text: 'ผู้หญิง' }
      ],
      positionOption: [
        { value: null, text: 'Select one' },
        { value: 'programmer', text: 'โปรแกรมเมอร์' },
        { value: 'dataSciene', text: 'วิเคราะห์ดาต้า' }
      ],
      careerOption: [
        { value: null, text: 'Select one' },
        { value: 'programmer/it', text: 'คอมพิวเตอร์และit support' },
        { value: 'legalwork', text: 'กฏหมาย' }
      ],
      educateOption: [
        { value: null, text: 'Select one' },
        { value: 'High school', text: 'มัธยมปลาย' },
        { value: 'Ph.D.', text: 'ปริญญาเอก' },
        { value: 'bachelor', text: 'ปริญญาตรี' },
        { value: 'masters degree', text: 'ปริญญาโท' }
      ],
      cAddressOption: [
        { value: null, text: 'Select one' },
        { value: 'Chonburi', text: 'ชลบุรี' },
        { value: 'Bangkok', text: 'กรุงเทพ' }
      ],
      AnmsList: [],
      fields: [
        'id',
        'name',
        'position',
        'cityAddress',
        'salary',
        'amount',
        'dateClose',
        'status',
        'operations'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('addNew')
      this.title = 'กรุณาเพิ่มประกาศรับสมัคร'
      this.$bvModal.show('modal-form-anm')
    },
    editUser (anm) {
      this.title = 'แก้ไขประกาศรับสมัคร'
      console.log('edit')
      console.log(anm)
      this.$bvModal.show('modal-form-anm')
      this.form = anm
    },
    delUser (anm) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + anm.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            anounmentService.deleteUser(anm)
            this.AnmsList = anounmentService.getAnms()
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        career: null,
        position: null,
        amount: 0,
        cityAddress: null,
        companyAddress: '',
        salary: 0,
        description: '',
        gender: 'All gender',
        age: 0,
        educate: null,
        yearExperience: 0,
        newGraduates: true,
        properties: '',
        dateOpen: this.getTime(),
        dateClose: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (this.stateName === false || this.statePosition === false) {
        return
      }
      // Do when pass validations
      if (this.form.id > 0) {
        // this.updateUser(this.form)
        anounmentService.updateUser(this.form)
      } else {
        // this.addUser(this.form)
        anounmentService.addUser(this.form)
      }
      this.AnmsList = anounmentService.getAnms()
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-anm')
      })
    },
    getTime () {
      const today = new Date()
      const date =
        today.getFullYear() +
        '-' +
        (today.getMonth() + 1) +
        '-' +
        today.getDate()
      return date
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 10
    },
    invalidFeedbackName () {
      if (this.form.name.length > 10) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 10 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    statePosition () {
      return this.form.position != null
    },
    invalidFeedbackPosition () {
      if (this.form.position != null) {
        return ''
      } else {
        return 'กรุณาเลือกตำแหน่งงาน'
      }
    },
    validFeedbackPosition () {
      return this.statePosition === true ? 'สำเร็จ' : ''
    },
    stateCareer () {
      return this.form.career != null
    },
    invalidFeedbackCareer () {
      if (this.form.career != null) {
        return ''
      } else {
        return 'กรุณาเลือกสายอาชีพ'
      }
    },
    validFeedbackCareer () {
      return this.stateCareer === true ? 'สำเร็จ' : ''
    },
    stateCityAddress () {
      return this.form.cityAddress != null
    },
    invalidFeedbackCityAddress () {
      if (this.form.cityAddress != null) {
        return ''
      } else {
        return 'กรุณาเลือกจังหวัดสาขา'
      }
    },
    validFeedbackCityAddress () {
      return this.stateCityAddress === true ? 'สำเร็จ' : ''
    },
    stateCompanyAddress () {
      return this.form.companyAddress != null
    },
    invalidFeedbackCompanyAddress () {
      if (this.form.companyAddress != null) {
        return ''
      } else {
        return 'กรุณาใส่สถานที่ปฏิบัติงาน'
      }
    },
    validFeedbackCompanyAddress () {
      return this.stateCompanyAddress === true ? 'สำเร็จ' : ''
    },
    stateSalary () {
      return this.form.salary > 0
    },
    invalidFeedbackSalary () {
      if (this.form.salary <= 0) {
        return 'กรุณาใส่เงินเดือนมากกว่า 0'
      } else {
        return 'กรุณาใส่เงินเดือน'
      }
    },
    validFeedbackSalary () {
      return this.stateSalary === true ? 'สำเร็จ' : ''
    },
    stateDescription () {
      return this.form.description != null
    },
    invalidFeedbackDescription () {
      if (this.form.description != null) {
        return ''
      } else {
        return 'กรุณาใส่รายละเอียด'
      }
    },
    validFeedbackDescription () {
      return this.stateDescription === true ? 'สำเร็จ' : ''
    },
    stateEducate () {
      return this.form.educate != null
    },
    invalidFeedbackEducate () {
      if (this.form.educate != null) {
        return ''
      } else {
        return 'กรุณาเลือกระดับการศึกษา'
      }
    },
    validFeedbackEducate () {
      return this.stateEducate === true ? 'สำเร็จ' : ''
    },
    stateBenefit () {
      return this.form.benefit != null
    },
    invalidFeedbackBenefit () {
      if (this.form.benefit != null) {
        return ''
      } else {
        return 'กรุณาใส่รายละเอียดสวัสดิการ'
      }
    },
    validFeedbackBenefit () {
      return this.stateBenefit === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาใส่เพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateAge () {
      return this.form.age > 0
    },
    invalidFeedbackAge () {
      if (this.form.age <= 0) {
        return 'กรุณาใส่อายุมากกว่า 0'
      } else {
        return 'กรุณาใส่อายุ'
      }
    },
    validFeedbackAge () {
      return this.stateAge === true ? 'สำเร็จ' : ''
    },
    stateExperience () {
      return this.form.age >= 0
    },
    invalidFeedbackExperience () {
      if (this.form.age < 0) {
        return 'กรุณาใส่ประการณ์มากกว่าหรือเท่ากับ 0'
      } else {
        return 'กรุณาใส่ประการณ์'
      }
    },
    validFeedbackExperience () {
      return this.stateAge === true ? 'สำเร็จ' : ''
    },
    stateNewGraduates () {
      return this.form.newGraduates != null
    },
    invalidFeedbackNewGraduates () {
      if (this.form.newGraduates != null) {
        return ''
      } else {
        return 'กรุณาเลือกตัวเลือก'
      }
    },
    validFeedbackNewGraduates () {
      return this.stateNewGraduates === true ? 'สำเร็จ' : ''
    },
    stateProperties () {
      return this.form.properties != null
    },
    invalidFeedbackProperties () {
      if (this.form.properties != null) {
        return ''
      } else {
        return 'กรุณาใส่คุณสมบัติ'
      }
    },
    validFeedbackProperties () {
      return this.stateProperties === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.AnmsList = anounmentService.getAnms()
  }
}
</script>
