<template>
  <div>
    <b-nav tabs fill>
      <b-nav-item router-link to="/">หน้าแรก</b-nav-item>
      <b-nav-item router-link to="/about"
      >จัดการข้อมูลส่วนบุคคล</b-nav-item
      >
      <b-nav-item router-link to="/anms"
        >จัดการประกาศรับสมัคร</b-nav-item
      >
      <b-nav-item router-link to="/forms"
        >จัดการผู้สมัครงาน</b-nav-item
      >
    </b-nav>
  </div>
</template>
